<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>부서</td>
        <td>부서번호</td>
        <td>사원</td>
        <td>사원번호</td>
        <td>년</td>
        <td>월</td>
        <td>월요일</td>
        <td>화요일</td>
        <td>수요일</td>
        <td>목요일</td>
        <td>금요일</td>
        <td>승인여부</td>
        <td>승인/거절 사유</td>
    </tr>
    <tr>
        <td>dept</td>
        <td>deptno</td>
        <td>emp</td>
        <td>deptno</td>
        <td>year</td>
        <td>month</td>
        <td>monday</td>
        <td>tuesday</td>
        <td>wednesday</td>
        <td>thursday</td>
        <td>friday</td>
        <td>accept</td>
        <td>cause</td>
    </tr>
</table>
</body>
</html>