<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table ,td {
        border: 1px solid black;
        text-align: center;
    }
</style>
<body>
<h1>모든 부서에 대한 스케줄 신청</h1>

<table th:if="${not scheduleList.isEmpty()}">
    <tr>
        <td>부서번호</td>
        <td>사원번호</td>
        <td>년</td>
        <td>월</td>
        <td>월요일</td>
        <td>화요일</td>
        <td>수요일</td>
        <td>목요일</td>
        <td>금요일</td>
        <td>승인여부</td>
    </tr>
    <tr th:each="sc : ${scheduleList}">
        <td>[[${sc.deptno}]]</td>
        <td>[[${sc.empno}]]</td>
        <td>[[${sc.year}]]</td>
        <td>[[${sc.month}]]</td>
        <td th:switch="${sc.monday}">
            <th:block th:case="1">8시출근 - 17시퇴근</th:block>
            <th:block th:case="2">9시출근 - 18시퇴근</th:block>
            <th:block th:case="3">10시출근 - 19시퇴근</th:block>
        </td>
        <td th:switch="${sc.tuesday}">
            <th:block th:case="1">8시출근 - 17시퇴근</th:block>
            <th:block th:case="2">9시출근 - 18시퇴근</th:block>
            <th:block th:case="3">10시출근 - 19시퇴근</th:block>
        </td>
        <td th:switch="${sc.wednesday}">
            <th:block th:case="1">8시출근 - 17시퇴근</th:block>
            <th:block th:case="2">9시출근 - 18시퇴근</th:block>
            <th:block th:case="3">10시출근 - 19시퇴근</th:block>
        </td>
        <td th:switch="${sc.thursday}">
            <th:block th:case="1">8시출근 - 17시퇴근</th:block>
            <th:block th:case="2">9시출근 - 18시퇴근</th:block>
            <th:block th:case="3">10시출근 - 19시퇴근</th:block>
        </td>
        <td th:switch="${sc.friday}">
            <th:block th:case="1">8시출근 - 17시퇴근</th:block>
            <th:block th:case="2">9시출근 - 18시퇴근</th:block>
            <th:block th:case="3">10시출근 - 19시퇴근</th:block>
        </td>
        <td>
            <th:block th:if="${sc.accept==null}">
                <form action="/acceptSchedule" method="post">
                    <input type="hidden" name="accept" value="accept">
                    <input type="hidden" name="empno" th:value="${sc.empno}">
                    <input type="hidden" name="year" th:value="${sc.year}">
                    <input type="hidden" name="month" th:value="${sc.month}">
                    <input type="submit" value="승인">
                </form>
                <form action="/rejectSchedule" method="post">
                    <input type="hidden" name="accept" value="reject">
                    <input type="hidden" name="empno" th:value="${sc.empno}">
                    <input type="hidden" name="year" th:value="${sc.year}">
                    <input type="hidden" name="month" th:value="${sc.month}">
                    <input type="submit" value="거절">
                </form>
            </th:block>
            <th:block th:unless="${sc.accept==null}">
                <th:block th:if="${sc.accept.equals('accept')}">
                    승인됨
                </th:block>
                <th:block th:unless="${sc.accept.equals('accept')}">
                    거절됨
                </th:block>
            </th:block>
        </td>
    </tr>
</table>
<th:block th:unless="${not scheduleList.isEmpty()}">
    신청된 스케줄이 없습니다.
</th:block>
<br><a href="/start">돌아가기</a>
</body>
</html>