<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    table, td {
        border : 1px solid;
        text-align: center;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>showSimpleSchedule</title>
    <link rel="stylesheet" href="/css/showScheduleRequest.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var formAdded = false;
            var $formRow;

            $("a.edit-link").click(function () {
                var parentRow = $(this).closest("tr");

                // formAdded가 true라면 폼이 이미 추가된 것이므로 제거합니다.
                if (formAdded) {
                    $formRow.remove();
                    formAdded = false;
                } else {
                    var formRow = `
                        <tr>
                            <td colspan="2">
                            </td>
                            <td>
                                <select name="monday" id="monday" required>
                                    <option value="1">8시출근-17시퇴근</option>
                                    <option value="2">9시출근-18시퇴근</option>
                                    <option value="3">10시출근-19시퇴근</option>
                                </select>
                            </td>
                            <td>
                                <select name="tuesday" id="tuesday" required>
                                    <option value="1">8시출근-17시퇴근</option>
                                    <option value="2">9시출근-18시퇴근</option>
                                    <option value="3">10시출근-19시퇴근</option>
                                </select>
                            </td>
                            <td>
                                <select name="wednesday" id="wednesday" required>
                                    <option value="1">8시출근-17시퇴근</option>
                                    <option value="2">9시출근-18시퇴근</option>
                                    <option value="3">10시출근-19시퇴근</option>
                                </select>
                            </td>
                            <td>
                                <select name="thursday" id="thursday" required>
                                    <option value="1">8시출근-17시퇴근</option>
                                    <option value="2">9시출근-18시퇴근</option>
                                    <option value="3">10시출근-19시퇴근</option>
                                </select>
                            </td>
                            <td>
                                <select name="friday" id="friday" required>
                                    <option value="1">8시출근-17시퇴근</option>
                                    <option value="2">9시출근-18시퇴근</option>
                                    <option value="3">10시출근-19시퇴근</option>
                                </select>
                            </td>
                            <td>
                                <input type="submit" value="제출" id="submit-btn">
                            </td>
                        </tr>`;

                    // parentRow 다음에 formRow 추가하기
                    parentRow.after(formRow);
                    $formRow = parentRow.next();
                    formAdded = true;

                    $("#submit-btn").click(function(event) {
                        var selectedMonday = parseInt($("#monday").val());
                        var selectedTuesday = parseInt($("#tuesday").val());
                        var selectedWednesday = parseInt($("#wednesday").val());
                        var selectedThursday = parseInt($("#thursday").val());
                        var selectedFriday = parseInt($("#friday").val());
                        var getYear = $(parentRow).find("td:eq(0)").text();
                        var selectedYear = parseInt(getYear);
                        var getMonth = $(parentRow).find("td:eq(1)").text();
                        var selectedMonth = parseInt(getMonth);

                        $.ajax({
                            type: "POST",
                            url: "/changeSchedule",
                            data: {
                                monday: selectedMonday,
                                tuesday: selectedTuesday,
                                wednesday: selectedWednesday,
                                thursday: selectedThursday,
                                friday: selectedFriday,
                                year: selectedYear,
                                month: selectedMonth
                            },
                            success: function(response) {
                                console.log("AJAX request successful:", response);
                                location.reload();
                            },
                            error: function (error) {
                                console.error("AJAX request error:", error);
                            }
                        });
                    });
                }
            });

        });
    </script>
</head>

<body>
<!-- 현재 스케줄 조회 -->
<div th:if="${monday != null}">
    <table>
        <caption th:text="|${name}님의 ${year}년 ${month}월 스케줄|"></caption>
        <tr>
            <td>월요일</td>
            <td>화요일</td>
            <td>수요일</td>
            <td>목요일</td>
            <td>금요일</td>
        </tr>
        <tr>
            <td th:text="${monday}"></td>
            <td th:text="${tuesday}"></td>
            <td th:text="${wednesday}"></td>
            <td th:text="${thursday}"></td>
            <td th:text="${friday}"></td>
        </tr>
    </table>
</div>
<div th:unless="${monday != null}" class="schedule_div">
    <th:block th:text="|${name}님의 ${month}월 스케줄|"/><br>
    아직 스케줄이 확정되지 않았습니다.<br>
</div>
<!--기존 신청 조회-->
<div th:if="${!scheduleRequestList.isEmpty()}">
    <table>
        <caption th:text="|${name}님의 스케줄 신청|"></caption>
        <tr>
            <td>년</td>
            <td>월</td>
            <td>월요일</td>
            <td>화요일</td>
            <td>수요일</td>
            <td>목요일</td>
            <td>금요일</td>
            <td>진행상태</td>
            <td>수정하기</td>
        </tr>
        <tr th:each="scheduleRequestList : ${scheduleRequestList}">
            <td th:text="${scheduleRequestList.year}"></td>
            <td th:text="${scheduleRequestList.month}"></td>
            <td th:switch="${scheduleRequestList.monday}">
                <th:block th:case="1">8시출근 - 17시퇴근</th:block>
                <th:block th:case="2">9시출근 - 18시퇴근</th:block>
                <th:block th:case="3">10시출근 - 19시퇴근</th:block>
            </td>
            <td th:switch="${scheduleRequestList.tuesday}">
                <th:block th:case="1">8시출근 - 17시퇴근</th:block>
                <th:block th:case="2">9시출근 - 18시퇴근</th:block>
                <th:block th:case="3">10시출근 - 19시퇴근</th:block>
            </td>
            <td th:switch="${scheduleRequestList.wednesday}">
                <th:block th:case="1">8시출근 - 17시퇴근</th:block>
                <th:block th:case="2">9시출근 - 18시퇴근</th:block>
                <th:block th:case="3">10시출근 - 19시퇴근</th:block>
            </td>
            <td th:switch="${scheduleRequestList.thursday}">
                <th:block th:case="1">8시출근 - 17시퇴근</th:block>
                <th:block th:case="2">9시출근 - 18시퇴근</th:block>
                <th:block th:case="3">10시출근 - 19시퇴근</th:block>
            </td>
            <td th:switch="${scheduleRequestList.friday}">
                <th:block th:case="1">8시출근 - 17시퇴근</th:block>
                <th:block th:case="2">9시출근 - 18시퇴근</th:block>
                <th:block th:case="3">10시출근 - 19시퇴근</th:block>
            </td>
            <td th:switch="${scheduleRequestList.accept}">
                <th:block th:case="'accept'">승인됨</th:block>
                <th:block th:case="'reject'">거절됨</th:block>
                <th:block th:case="*">검토중</th:block>
            </td>
            <td th:switch="${scheduleRequestList.accept}">
                <th:block th:case="'accept'">
                    <th:block th:if="${scheduleRequestList.year==year}">
                        <th:block th:if="${scheduleRequestList.month==month}">
                            <!--현재 데이터-->
                            <form action="/applySchedule" method="post">
                                <input type="hidden" name="year" th:value="${scheduleRequestList.year}">
                                <input type="hidden" name="month" th:value="${scheduleRequestList.month}">
                                <input type="hidden" name="monday" th:value="${scheduleRequestList.monday}">
                                <input type="hidden" name="tuesday" th:value="${scheduleRequestList.tuesday}">
                                <input type="hidden" name="wednesday" th:value="${scheduleRequestList.wednesday}">
                                <input type="hidden" name="thursday" th:value="${scheduleRequestList.thursday}">
                                <input type="hidden" name="friday" th:value="${scheduleRequestList.friday}">
                                <input type="submit" value="적용하기">
                            </form>
                        </th:block>
                        <th:block th:if="${scheduleRequestList.month<month}">
                            <!--과거 데이터-->
                            <form action="/rejectCheck" method="post" onsubmit="alert('더 이상 유효하지 않는 요청이므로 삭제됩니다.')">
                                <input type="hidden" name="year" th:value="${scheduleRequestList.year}">
                                <input type="hidden" name="month" th:value="${scheduleRequestList.month}">
                                <input type="submit" value="적용하기">
                            </form>
                        </th:block>
                        <th:block th:if="${scheduleRequestList.month>month}">
                            <!--미래 데이터-->
                            <button class="button" onclick="alert('해당 날짜가 되지 않았으므로 나중에 다시 요청해주세요.');">적용하기</button>
                        </th:block>
                    </th:block>
                    <th:block th:if="${scheduleRequestList.year>year}">
                        <!--미래 데이터-->
                        <button class="button" onclick="alert('해당 날짜가 되지 않았으므로 나중에 다시 요청해주세요.');">적용하기</button>
                    </th:block>
                    <th:block th:if="${scheduleRequestList.year<year}">
                        <!--과거 데이터-->
                        <form action="/rejectCheck" method="post" onsubmit="alert('더 이상 유효하지 않는 요청이므로 삭제됩니다.')">
                            <input type="hidden" name="year" th:value="${scheduleRequestList.year}">
                            <input type="hidden" name="month" th:value="${scheduleRequestList.month}">
                            <input type="submit" value="적용하기">
                        </form>
                    </th:block>
                </th:block>
                <form action="/acceptCheck" mothod="post">
                    <input type="hidden" name="year" th:value="${scheduleRequestList.year}">
                </form>
                <form action="/rejectCheck" th:case="'reject'" method="post">
                    <input type="hidden" name="year" th:value="${scheduleRequestList.year}">
                    <input type="hidden" name="month" th:value="${scheduleRequestList.month}">
                    <input type="submit" value="확인">
                </form>
                <a th:case="*" class="edit-link" href="javascript:void(0)">수정하기</a>
            </td>
        </tr>
    </table>

</div>
<div th:unless="${!scheduleRequestList.isEmpty()}" class="schedule_div">
    <th:block th:text="|${name}님의 스케줄 신청|"/><br>
    아직 스케줄을 신청하지 않았습니다.<br>
</div>

<script type="text/javascript">
    // ... [기존의 스크립트는 생략] ...

    $(document).ready(function() {
        // "스케줄 신청하기" 버튼 클릭 시
        $("#btnUpdateSchedule").click(function() {
            window.location.href = "/updateSchedule";
        });

        // "뒤로가기" 버튼 클릭 시
        $("#btnGoBack").click(function() {
            window.location.href = "/start";
        });
    });
</script>
<div class="buttons-wrapper">
    <button class="button" id="btnUpdateSchedule">스케줄 신청하기</button>
    <button class="button" id="btnGoBack">뒤로가기</button>
</div>
</body>
</html>