.highlighted { /*몸통*/
    position: fixed;
    top: 55%;
    left: 10%;
    width: 485px;
    height: 235px;
    background-color: white; /* 배경색상을 원하는 대로 지정하세요. */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 그림자 효과를 원한다면 추가하세요. */
    border-radius: 10%; /*동그랗게*/
    border: 1px solid #ccc; /* 테두리를 원하는 대로 지정하세요. */
}
.today {
}
.clock{

}
.sss {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* 그림자 효과를 원한다면 추가하세요. */
}
.stu_title { /*근태현황의 파란부분*/
    font-size: 20px; /*폰트 크기*/
    background-color: lightskyblue; /*바 색상*/
    height: 55px; /*근태현황 바 크기*/
    color: white; /*글씨 색상*/
    border-radius: 10px; /*동그랗게*/
    /*text-align: center; 사용 안함 냅둬보기*/
}
.depttable{ /*테이블 css*/
    position: fixed;
    top: 55%;
    left: 10%;
    width: 485px;
    height: 142px;
    border: 0; /* 테두리를 원하는 대로 지정하세요. */
}
.dept_td{ /*부서 및 카운트 */
    width: 100px;font-weight: 500;
    line-height:52px; /*간격*/
}


