.highlighted {
    position: fixed;
    top: 55%;
    left: 10%;
    width: 300px;
    background-color: white; /* 배경색상을 원하는 대로 지정하세요. */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 그림자 효과를 원한다면 추가하세요. */
    text-align: center;
}

.stateNow {
    text-align: center;
}