* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fafafa;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h2 {
    color: #555;
    text-align: center;
    padding: 2em 0;

}
form, table {
    max-width: 40%;
    margin: auto;
}
form {
    background: #fff;
    padding: 2em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 2em;
}
label, select, input, textarea, button {
    display: block;
    margin: 15px 0;
}
select, input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 5px;
}
button {
    background: lightskyblue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}
button:hover {
    background: steelblue;
}
table {
    border-collapse: collapse;
    margin-top: 30px;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:hover {
    background-color: #f1f1f1;
}
input[type="submit"] {
    background: lightskyblue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

input[type="submit"]:hover {
    background: steelblue;
}
