<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>오늘의 일별 식단</title>
</head>
<body>
<h1 th:text="'오늘(' + ${currentDayOfWeek} + ')의 식단'"></h1>
<div th:if="${menus}">
    <table>
        <thead>
        <tr>
            <th>메뉴</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="menu : ${menus}">
            <td th:text="${menu.menu}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${not notmenus}">

</div>

<a th:href="@{/monthly}">월별 식단 보기</a>
</body>
</html>
