<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>오늘의 일별 식단</title>
</head>
<body>
<h1 th:text="'오늘(' + ${currentDayOfWeek} + ')의 식단'"></h1>
<div th:if="${menus}">
    <table>
        <thead>
        <tr>
            <th>메뉴</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="menu : ${menus}">

            <td th:text="${menu.menu1}"></td>
            <td th:text="${menu.menu2}"></td>
            <td th:text="${menu.menu3}"></td>
            <td th:text="${menu.menu4}"></td>
            <th>총칼로리<td th:text="${menu.kcal}"></td></th>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${not notmenus}">

</div>
<table>
    <tr th:if="${menu1}">
        <td th:text="${menu1}"></td>
    </tr>
    <tr th:if="${menu2}">
        <td th:text="${menu2}"></td>
    </tr>
    <tr th:if="${menu3}">
        <td th:text="${menu3}"></td>
    </tr>
    <tr th:if="${menu4}">
        <td th:text="${menu4}"></td>
    </tr>
</table>
<a th:href="@{/weekly}">주간 식단 보기</a>
</body>
</html>
