<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>주간별 식단표</title>
    <style>
        table {
            border:1px solid black;
            border-collapse:collapse;
        }

        th, td {
            border:1px solid black; padding:8px 0;
        }
    </style>
</head>
<body>
<div class="weekly_container">
<h1>주간별 식단표</h1>
<table style="width: 700px; border:1px solid black; border-collapse:collapse;">
    <thead>
    <tr>
        <th>일</th>
        <th>월</th>
        <th>화</th>
        <th>수</th>
        <th>목</th>
        <th>금</th>
        <th>토</th>
    </tr>
    </thead>
    <tbody>
    <!-- monthlyMenu에 있는 데이터를 반복하며 표시 -->
    <tr>
        <td th:each="menu : ${weeklyMenu}" style="text-align: center">
            <th:block th:text="${menu.day}"></th:block>
        </td>
    </tr>
    <tr>
        <td th:each="menu : ${weeklyMenu}" th:if="${menu.dw == 1}" style="width: 70px;">
            [[${menu.menu1}]]<br>
            [[${menu.menu2}]]<br>
            [[${menu.menu3}]]<br>
            [[${menu.menu4}]]<br>
            [[${menu.kcal}]]<br>
        </td>
        <td th:each="menu : ${weeklyMenu}" th:if="${menu.dw == 2}" style="width: 70px;">
            [[${menu.menu1}]]<br>
            [[${menu.menu2}]]<br>
            [[${menu.menu3}]]<br>
            [[${menu.menu4}]]<br>
            [[${menu.kcal}]]<br>
        </td>
        <td th:each="menu : ${weeklyMenu}" th:if="${menu.dw == 3}" style="width: 70px;">
            [[${menu.menu1}]]<br>
            [[${menu.menu2}]]<br>
            [[${menu.menu3}]]<br>
            [[${menu.menu4}]]<br>
            [[${menu.kcal}]]<br>
        </td>
        <td th:each="menu : ${weeklyMenu}" th:if="${menu.dw == 4}" style="width: 70px;">
            [[${menu.menu1}]]<br>
            [[${menu.menu2}]]<br>
            [[${menu.menu3}]]<br>
            [[${menu.menu4}]]<br>
            [[${menu.kcal}]]<br>
        </td>
        <td th:each="menu : ${weeklyMenu}" th:if="${menu.dw == 5}" style="width: 70px;">
            [[${menu.menu1}]]<br>
            [[${menu.menu2}]]<br>
            [[${menu.menu3}]]<br>
            [[${menu.menu4}]]<br>
            [[${menu.kcal}]]<br>
        </td>
        <td th:each="menu : ${weeklyMenu}" th:if="${menu.dw == 6}" style="width: 70px;">
            [[${menu.menu1}]]<br>
            [[${menu.menu2}]]<br>
            [[${menu.menu3}]]<br>
            [[${menu.menu4}]]<br>
            [[${menu.kcal}]]<br>
        </td>
        <td th:each="menu : ${weeklyMenu}" th:if="${menu.dw == 7}" style="width: 70px;">
            [[${menu.menu1}]]<br>
            [[${menu.menu2}]]<br>
            [[${menu.menu3}]]<br>
            [[${menu.menu4}]]<br>
            [[${menu.kcal}]]<br>
        </td>
    </tr>
    </tbody>
</table>

<br>
<input type="button" value="돌아가기" class="weeklyPage_button" onclick="history.back()">
</div>
<link rel="stylesheet" href="/css/lunch.css">
</body>
</html>
