<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Mainpage</title>
    <link rel="stylesheet" href="/css/hi.css">
    <link rel="icon" type="image/png" href="/Login_v2/images/icons/home.png">
<style>
    .bbb {
        text-decoration-line: none;
        font-size: 20px;
    }
    body {
        background-color: lightskyblue;
    }
</style>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
<div class="big_box">
<nav>
    <div class="menu-btn">
        <div class="line line--1"></div>
        <div class="line line--2"></div>
        <div class="line line--3"></div>
    </div>

    <div class="nav-links">
        <a href="/start" class="link">Home</a>
        <a th:href="@{/mailList/{empno}(empno=${working.empno})}" class="link"> Mail </a>
        <a href="/vacationRequest" class="link">Vacation Request</a>
        <th:block th:if="${authority}=='row'">
            <a href="/Vacationdept" class="link">Dept</a>
            <a href="/showScheduleRequest" class="link">Schedule Request </a>
        </th:block>
        <th:block th:if="${authority}=='admin'">
            <a href="/registerpage" class="link">EmpRegist</a>
            <a href="/manageScheduleRequest" class="link">Manage Request</a>
        </th:block>

    </div>
</nav>


<th:block th:if="${vacation != '휴가' && vacation != '무급'}">
    <div class="fff">
    <table >

        <div style="position: fixed;margin-left: 11.5%;margin-top: 14px;font-size: 25px;">
        <p>근무 스케쥴</p>
        </div>
        <div style="position: fixed;margin-left: 11.5%;margin-top: 55px;font-weight: 00;">
            <p th:text="${result}" ></p>
        </div>



    <div style="margin-top:9%;margin-left: 7%;">
  <a href="/logout" >  <img th:src="@{/images/__${working.getName()}__.png}" alt="내 이미지"  style="border-radius: 30%"> </a><br>
    </div>
        <div style="margin-top:3%;margin-left: 15%;font-size:20px;">
        <span th:text="${working.name}"></span>
        </div>
<br>
        <div style="margin-top:-5%;margin-left: 15%;font-size:20px;">
        <p th:text="${job}"></p>
        </div>

        <div  style="display: flex ; margin-left: 45%; margin-top: -27%;font-size: 50px;">

                <p class="clock"></p>
            </div>

        <div style="position:fixed;margin-left: 4%; margin-top: 1%">
        <input value="출근" type="button" onclick="makecommute()" class="main_button">
        <input value="퇴근" type="button" onclick="quitcommute()" class="main_button">

<input value="연장근무" type="button" onclick="requestextrawork()" class="main_button">


<th:block th:if="${working.isworking} =='외출'">
<input id="takearestbutton1" value="복귀" type="button" onclick="takearest()" class="main_button">
</th:block>

<th:block th:if="${working.isworking != '외출'}">
    <input id="takearestbutton" value="외출" type="button" onclick="takearest()" class="main_button">
</th:block>
    </div>

    <br>
        <div style="position: fixed;margin-left:5%;margin-top: 3.5%">
    <span id="text" th:text="'출근 시각 '+${working.cometime}"></span>&emsp;&emsp;
    <span id="text2" th:text="'퇴근 시각 '+${working.gotime}"></span>
        </div>
<br><br>
        <div style="position: fixed;margin-left: 8%;margin-top: 3.5%">
    <span id="nowtext" th:text="'현재 상태: '+${working.isworking}"></span>
        </div>
            <!--같은 버튼이나 화면 온로드 당시의 근무 상황에 따라 버튼의 밸류 변경 -->

<!--<input value="초기화" type="button" onclick="reset()" class="main_button">-->
<!--        <a th:href="@{/logout}" class="bbb">로그아웃</a>-->
</td>

    </table></div>
</th:block>

    <th:block th:if="${vacation == '휴가' || vacation == '무급'}">
        <div class="fff">
            <table >

                <div style="position: fixed;margin-left: 11.5%;margin-top: 14px;font-size: 25px;">
                    <p>근무 스케쥴</p>
                </div>
                <div style="position: fixed;margin-left: 11.5%;margin-top: 55px;font-weight: 00;">
                    <p > 휴가중</p>
                </div>



                <div style="margin-top:9%;margin-left: 7%;">
                    <a href="/logout" >  <img th:src="@{/images/__${working.getName()}__.png}" alt="내 이미지"  style="border-radius: 30%"> </a><br>
                </div>
                <div style="margin-top:3%;margin-left: 15%;font-size:20px;">
                    <span th:text="${working.name}"></span>
                </div>
                <br>
                <div style="margin-top:-5%;margin-left: 15%;font-size:20px;">
                    <p th:text="${job}"></p>
                </div>

                <div  style="display: flex ; margin-left: 45%; margin-top: -27%;font-size: 50px;">

                    <p class="clock"></p>
                </div>

                <div style="position:fixed;margin-left: 4%; margin-top: 1%">
                    <input value="출근" type="button" onclick="vac()" class="main_button">
                    <input value="퇴근" type="button" onclick="vac()" class="main_button">

                    <input value="연장근무" type="button" onclick="vac()" class="main_button">
                    <input value="외출" type="button" onclick="vac()" class="main_button">
                </div>

                <br>
                <div style="position: fixed;margin-left:5%;margin-top: 3.5%">
                    <span>출근 시각</span>&emsp;&emsp;
                    <span >퇴근 시각</span>
                </div>
                <br><br>
                <div style="position: fixed;margin-left: 8%;margin-top: 3.5%">
                    <span >현재 상태: 휴가중</span>
                </div>
                <!--같은 버튼이나 화면 온로드 당시의 근무 상황에 따라 버튼의 밸류 변경 -->

                <!--<input value="초기화" type="button" onclick="reset()" class="main_button">-->
                <!--        <a th:href="@{/logout}" class="bbb">로그아웃</a>-->
                </td>

            </table></div>
    </th:block>


<br>
<br>

    <br>
    <br>
<div class="team">

    <table border="0" class="dept_title">
        <thead>
        <tr>
            <th class="dept_name" colspan="4">[[${deptname}]]</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="dto, iterStat : ${list}">
            <!-- 매 세 번째 요소마다 새로운 행을 시작 -->
            <th:block th:if="${iterStat.index % 2 == 0}">
                <tr>
            </th:block>
            <!-- 각 사원 정보를 셀에 출력 -->
            <td style="border: 0 solid #000; padding: 5px; text-align: center; width: 150px;">
                <br>
                <img th:src="@{/images/__${dto.getName()}__.png}" alt="내 이미지" style="border-radius: 20%;"><br>
                <span th:text="${dto.getName()}"></span> :
                <span th:text="${dto.getIsworking()}"></span><br>
                <a th:href="@{'/deptSendMail/' + ${dto.empno}}">
                    <img th:src="@{/images/mailicon.png}" alt="메일" width="20" height="20">
                </a><br>
            </td>
        </th:block>
        </tbody>
    </table>
</div>
<!--   오유비 추가 코드 10월05일 부서 근태 현황을 카운트 해서 숫자로 나타냄-->
<br>
        <div class = "highlighted">
            <table class="depttable">
                <tr>
                    <th class = "stu_title"  colspan="4" >근태 현황</th>

                <tr class="sss">

                    <td class ="dept_td">
                        <div class='v-line'></div>
                        <span class="dept_id">
                        출근 전
                    </span>
                        <span class="dept_count">
                        [[${preWorkCount}]]
                        </span>
                        <span class="dept_id2">
                        출근
                        </span>
                        <span class="dept_count2">
                        [[${workCount}]]
                        </span>     <br><hr class="hr-1"> <!--가로줄-->
                    </td>

                </tr>
                <tr class="sss">
                    <td class ="dept_td">
                        <span class="dept_id">
                        퇴근
                        </span>
                        <span class="dept_count">
                        [[${leaveCount}]]
                        </span>
                        <span class="dept_id2">
                        외출
                        </span>
                        <span class="dept_count2">
                        [[${commuteCount}]]
                        </span>     <br><hr class="hr-1">
                    </td>
                <tr class="sss">
                    <td class ="dept_td">
                        <span class="dept_id">
                        휴가
                        </span>
                        <span class="dept_count">
                        [[${vacationCount}]]
                        </span>
                        <span class="dept_id2">
                            총원
                        </span>
                        <span class="dept_count2">
                        [[${countTotal}]]
                        </span>
                    </td>
                </tr>
            </table>
        </div>

    <div class="mail">
        <th:block th:if="${not mail.empty}">
            <table style="border-collapse: collapse">
                <thead>
                    <tr>
                        <th class="mail_box" colspan="4" >최근 온 메일</th>
                    </tr>
                </thead>
                <tbody th:each="mail : ${mail}" th:unless="${mailStat.index > 3}">
                    <tr>
                            <td >
                                <hr class="hr-2"> <!--가로줄-->
                                <a th:href="@{'/mailDetail/' + ${mail.id}}" class="mail_title">
                                    [[${mail.title}]]
                                </a>
                            </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;<th:block th:text="${mail.sName}"></th:block>
                            <a style="position: fixed; right: 40%; font-size: 7px">[[${#temporals.format(mail.date, 'yyyy.MM.dd')}]]</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </th:block>

        <th:block th:if="${mail.empty}">
            <h3 style="text-align: center">메일이 없습니다.</h3>
        </th:block>
    </div>

<div class="main_notice">
    <th:block th:if="${not list3.empty}">

        <table style="border-collapse: collapse">
            <thead>
            <tr>
                <th class="main_dept_notice" colspan="4">부서 공지사항</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice : ${list3}">
                <td style="padding: 3%;">
                    <a th:href="@{'/noticeDetail/' + ${notice.id}}" class="notice_button">
                        <[[${notice.witch}]]> [[${notice.title}]]
                </a>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
</div>

    <div class="lunch">
<!--    민수 식단 기능 추가 직전이라 주석처리 후 넣음-->

    <div th:if="${menus}">
        <table style="border-collapse: collapse">
            <thead>
            <tr>
                <th class="lunch_box">오늘([[${currentDayOfWeek}]]) 의 식단
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="menu : ${menus}">
                <td th:text="${menu.menu}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${not notmenus}">

    </div>

    <a th:href="@{/monthly}" class="monthly_button">주간별 식단 보기</a>

    </div>

<script src="/js/hi.js"></script>
<script th:inline="javascript">
    var resultValue = /*[[${result}]]*/ '';
    // 이거 윗줄 회색글씨 절대 지우면 안됨

</script>
</div>
</body>
</html>