<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>DeptAdmin</title>
    <link rel="stylesheet" href="/css/hi.css">
    <link rel="stylesheet" href="/css/dept.css">
    <link rel="icon" type="image/png" href="/Login_v2/images/icons/list.png"/>
</head>
<body>

<nav>
    <div class="menu-btn">
        <div class="line line--1"></div>
        <div class="line line--2"></div>
        <div class="line line--3"></div>
    </div>

    <div class="nav-links">
        <a class="slink"><img th:src="@{/images/longlonglogo.png}" alt="로고" style="position: fixed; height: 150px; width: 250px; top: 20%; left: 10%;"></a>
        <a href="/start" class="link">Home</a>
        <a th:href="@{/mailList/{empno}(empno=${working.empno})}" class="link"> Mail </a>
        <a href="/vacationRequest" class="link">Vacation Request</a>
        <a href="/schedule" class="link">Schedule Request </a>
        <th:block th:if="${authority}=='row'">
            <a href="/Vacationdept" class="link">Dept</a>
        </th:block>


    </div>
</nav>



<table border="1">
    <thead>
    <tr>
        <th colspan="5" th:text="${deptname} + ' ' + ${month} + '월 근태 현황'"></th>
    </tr>
    <tr>
        <th>사번</th>
        <th>이름</th>
        <th>지각횟수</th>
        <th>근무 시간</th>
        <th>추가근무 시간</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dto2, iterStat : ${list2}">
        <td th:text="${dto2.empno}"></td>
        <td th:text="${dto2.name}"></td>
        <td th:text="${dto2.tardy}"></td>
        <td th:text="${dto2.worktime}"></td>
        <td th:text="${dto2.extraworktime}"></td>
    </tr>
    </tbody>
</table>
<br> <br>

<th:block th:if="${not list3.empty}">

    <table >
        <thead>
        <tr>
            <th>Id</th>
            <th>제목</th>
            <th>부서번호</th>
        </tr>

        <tr th:each="notice : ${list3}">
            <td>
                <th:block th:text="${notice.id}"></th:block>
            </td>

            <td>  <a th:href="@{'/noticeDetail/' + ${notice.id}}" style="font-size:20px;">
                [[${notice.title}]]
            </a></td>
            <td><th:block th:text="${notice.deptno}"></th:block> </td>
        </tr>
        </thead>

    </table>


</th:block>

<div style="position: fixed; left: 70%;">

    <form action="/insertnotice" method="get">
        <input type="submit" value="신규 작성" class="dept_button">
    </form>
</div>


<br><br><br><br>

<table border="1">
    <thead>
<tr>
    <th>신청일</th>
    <th>이름</th>
    <th>휴가 종류</th>
    <th>휴가 사유</th>
    <th>유급 여부</th>
    <th>휴가 시작일</th>
    <th>휴가 기간</th>
    <th>휴가 종료일</th>
    <th> 승인 </th>
    <th> 반려 </th>
</tr>

    <tr th:each="dto, iterStat : ${list}">
        <td th:text="${dto.request_datetime}" > ㅇㅇ</td>
        <td th:text="${dto.name}"></td>
        <td th:text="${dto.vacation_type}"></td>
        <td th:text="${dto.vacation_reason}"></td>
        <td th:text="${dto.sub_vacation_type}"></td>
        <td th:text="${dto.vacation_hope_date}"></td>
        <td th:text="${dto.vacation_period}"></td>
        <form action="/admitVacation" method="post">
            <input type="hidden" name="id" th:value="${dto.id}"/>
        <td> <input type="date" name="lastday">   </td>
        <td> <input type="submit" value="휴가 승인"> </td>
        </form>

        <form action="/repulse" method="post">
            <input type="hidden" name="id" th:value="${dto.id}"/>
            <td> <input type="submit" value="휴가 반려">  </td>
        </form>

    </tr>
</table>
<br>
<br>

<script src="/js/sidemenu.js"></script>

</body>
</html>