<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>



    <th:block>
    <div>
        <table border="1">
            <thead>


                <td>출근 전: <span th:text="${preWorkCount1100}"></span></td>
                <td>출근: <span th:text="${countWork1100}"></span></td>
                <td>퇴근: <span th:text="${countLeave1100}"></span></td>
                <td>외출: <span th:text="${countCommute1100}"></span></td>
                <td>휴가: <span th:text="${countVacation1100}"></span></td>


            </thead>
            <td>출근 전: <span th:text="${preWorkCount1200}"></span></td>
            <td>출근: <span th:text="${countWork1200}"></span></td>
            <td>퇴근: <span th:text="${countLeave1200}"></span></td>
            <td>외출: <span th:text="${countCommute1200}"></span></td>
            <td>휴가: <span th:text="${countVacation1200}"></span></td>
            <br>

        </table>
    </div>

</th:block>


</body>
</html>