<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<div>
    <!-- 로그인 폼 -->
    <form th:action="@{/login}" class="login-form" method="post">
        <!-- 직원 번호 입력 필드 -->
        <div>
            <label for="empno" >직원 번호</label>
            <input type="text" name="empno" id="empno" class="input-field" />

        </div>
        <!-- 비밀번호 입력 필드 -->
        <div>
            <label for="password" >비밀번호</label>
            <input type="password" name="password" id="password" class="input-field"/>

        </div>
        <!-- "기억하기" 체크박스 -->
        <p>
            <input type="checkbox" id="rememberEmpno" name="rememberEmpno" class="input-field" />
        </p>
        <!-- 로그인 버튼 -->
        <input type="submit" value="로그인" class="submit-button"/>

    </form>

</div>
</body>
</html>